body {
    margin: auto;
    text-align: center;
    background-color: rgb(94, 143, 100);
}

h1{
    background-color: rgb(120, 107, 156);
}

.conteudo{
    margin-top: 5%;
    font-size: 30px;
}

.botao{
    color: rgb(60, 112, 66);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    /*border: 2px solid black;*/
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    padding: 8px;
}